<footer id="info">
  <p>Double-click to edit a todo</p>
  <p>Created by <a href="http://www.brewhouse.io">Brewhouse Software</a></p>
  <p>Using <a href="http://www.github.com/BrewhouseTeam/angular_sprinkles">Angular Sprinkles</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
